@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  max-width: 1280px;
  margin: 0 auto;
  background: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
html {
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  line-height: 2em;
}
