.movie {
    padding: 8px;
    margin: 8px;
}
.movie-title {
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.movie-overview {
    margin-top: 1rem;
}
.about-movie {
    display: flex;
}
.poster {
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}
.poster:hover {
    transform: scale(1.05);
}
.reserve-tickets-btn {
    height: 50px;
    background: rgb(217, 179, 87);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 32px;
    padding: 8px;
    margin-top: 10px;
}
.reserve-tickets-btn:hover {
    background: rgb(181, 130, 7);
}

@media screen and (max-width: 650px) {
    .header-title {
        font-size: 1.4rem;
    }
    .about-movie {
        display: flex;
        flex-wrap: wrap;
    }
    .poster {
        margin-left: auto;
        margin-right: auto;
    }
    .movie-description {
        display: block;
        margin-left: 8px;
    }
    .reserve-tickets-btn {
        display: block;
        margin: 8px auto;
    }
}

@media screen and (max-width: 350px) {
    .poster {
        max-width: 310px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}
